*{
  padding: 0;
  margin: 0;

}
.wrapper{
  background: url(UMB.png) no-repeat;
  background-size: cover;
  height: 100vh;

}
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.logo{
  width: 240px;
  height: auto;
  padding: 400px 50px;
  border-radius: 50%;
}
.navbar ul{
  float: right;
  margin-right: 20px;

}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  font-family: sans-serif;
  transition: .4s;

}
.navbar ul li a.active,
.navbar ul li a:hover{
  background: #F3B340;
  border-radius: 2px;
}
.wrapper .center{
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}
.center h1{
  color: white;
  font-size: 55px;
  font-weight: bold;
  white: 900px;
  text-align: center;
}
.center h2{
  color: white;
  font-size: 55px;
  font-weight: bold;
  white: 885px;
  margin-top: 10px;
  text-align: center;
}
.center .buttons{
  margin: 55px 70px;

}
.buttons button{
  height: 50px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #F3B340;
  border: 1px solid #cc0000;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: .5s;

}
.buttons .btn{
  margin-left: 25px;

}
.buttons button:hover{
  background: #cc0000;

}
